<h3>
  <%= @theatre.name %> |
  <%= link_to 'Edit', edit_theatre_path(@theatre.id) %>
</h3>

<%= render 'theatre_details', theatre: @theatre %>
<%= render 'perf_space_table', theatre: @theatre %>
<%= render 'af_venue_table', theatre: @theatre %>




