<h2>
  <%= @theatre.name %> |
  <%= link_to 'Edit', edit_theatre_path(@theatre.id)  %> |
  <%= link_to 'Delete', theatre_path(@theatre), method: :delete %>
</h2>

<ul class="list-group list-group-flush">
  <li class="list-group-item"><strong>Managed by:</strong> <%= @theatre.managed_by %></li>
  <li class="list-group-item"><strong>Onboarded:</strong> [TBD]</li>
  <li class="list-group-item"><strong>AF Source Organisation:</strong> <%= @theatre.af_source_org_id %></li>
  <li class="list-group-item"><strong>Notes:</strong> <%= @theatre.notes %></li>
</ul>

<%= link_to 'Back to all theatres', theatres_path %>
