<h2>
  <%= @theatre.name %>
  <%= "(#{@theatre.managed_by})" unless @theatre.managed_by.empty? %> |
  <%= link_to edit_theatre_path(@theatre.id) do %>
    <i class="fas fa-edit"></i>
  <% end %> |
  <%= link_to theatre_path(@theatre), method: :delete do %>
    <i class="fas fa-trash-alt"></i>
  <% end %>
</h2>

<ul class="list-group list-group-flush">
  <li class="list-group-item"><strong>Onboarded:</strong> [TBD]</li>
  <li class="list-group-item"><strong>AF Source Organisation:</strong> <%= @theatre.af_source_org_id %></li>
  <li class="list-group-item"><strong>Notes:</strong> <%= @theatre.notes %></li>
</ul>

<%= link_to 'Back to all theatres', theatres_path %>
