<h2>
  <%= @theatre.name %>: <%= @performance_space.name %> |
  <%= link_to 'Edit', edit_theatre_performance_space_path(@theatre, @performance_space) %> |
  <%= link_to 'Delete', theatre_performance_space_path(@theatre, @performance_space), method: :delete %>
</h2>

<ul class="list-group list-group-flush mt-3 mb-3">
  <li class="list-group-item"><strong>Type:</strong> <%= @performance_space.space_type %></li>
  <li class="list-group-item"><strong>Capacity:</strong> <%= @performance_space.capacity %></li>
  <li class="list-group-item"><strong>Programme:</strong> <%= @performance_space.programme %></li>
  <li class="list-group-item"><strong>Grouping:</strong> <%= @performance_space.grouping %></li>
  <li class="list-group-item"><strong>Include:</strong> <%= @performance_space.include %></li>
  <li class="list-group-item"><strong>Notes:</strong> <%= @performance_space.notes %></li>
</ul>

<%= link_to 'Back to theatre', theatre_path(@theatre) %>


