<h2>
  <%= @theatre.name %>: <%= @performance_space.name %>
</h2>

<ul class="list-group list-group-flush">
  <li class="list-group-item"><strong>Type:</strong> <%= @performance_space.space_type %></li>
  <li class="list-group-item"><strong>Capacity:</strong> <%= @performance_space.capacity %></li>
  <li class="list-group-item"><strong>Programme:</strong> <%= @performance_space.programme %></li>
  <li class="list-group-item"><strong>Grouping:</strong> <%= @performance_space.grouping %></li>
  <li class="list-group-item"><strong>Include:</strong> <%= @performance_space.include %></li>
  <li class="list-group-item"><strong>Notes:</strong> <%= @performance_space.notes %></li>
</ul>

<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <%= link_to 'Edit this performance space', edit_theatre_performance_space_path(@theatre, @performance_space) %>
  </li>
  <li class="list-group-item">
    <%= link_to 'Delete this performance space', theatre_performance_space_path(@theatre, @performance_space), method: :delete %>
  </li>
  <li class="list-group-item">
    <%= link_to 'Back to theatre', theatre_path(@theatre) %>
  </li>
</ul>


