<h2>Edit: <%= @theatre.name %> Mappings</h2>

<table class="table table-striped table-hover mt-3">
  <thead class="thead-light">
    <tr>
      <th></th>
      <th scope="col">Audience Finder Venue</th>
      <th scope="col">Performance Space</th>
    </tr>
  </thead>
  <tbody>
    <% @af_venues.each do |venue| %>
      <tr>
        <td><%= check_box_tag "venue_ids[]", venue.id %></td>
        <td><%= venue.venue_name %></td>
        <% if venue.performance_space_id.nil? %>
          <td></td>
        <% else %>
          <td>
            <%= PerformanceSpace.find(venue.performance_space_id) %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= select_tag 'performance_space_id', options_for_select(@theatre.performance_spaces.collect{ |space| [space.name, space.id] }) %>
