<!DOCTYPE html>
<html>
  <head>
    <title>UKT Project Manager</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    <nav class="navbar mb-4 p-2">
      <div class="col-3">
        <%= render_breadcrumbs :separator => ' < ' %>
      </div>
      <div class="col-6">
        <h1 class="text-center">UK Theatre: Project Manager</h1>
      </div>
      <div class="col-3">

      </div>

    </nav>

      <%= yield %>

    </div>
  </body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://kit.fontawesome.com/555b792a3b.js" crossorigin="anonymous"></script>
</html>
